@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.first-part {
  height: 60vh;
  font-family: "Bebas Neue", cursive;
  padding-top: 25%;
  letter-spacing: 0.1cm;
  padding-left: 5%;
}

.second-part {
  letter-spacing: 0.01cm;
  font-weight: 300;
  padding-bottom: 100vh;
  font-family: "Nunito", sans-serif;
  transition: 1s;
}
.second-part .intro {
  margin-left: 10%;
  width: 800px;
  padding: 20px 20px 20px 0px;
  transition: 1s;
}
.second-part .intro hr {
  background-color: black;
  text-decoration: none;
  height: 0.05cm;
  margin-bottom: 0.1cm;
}
.second-part .intro span {
  font-weight: bold;
  color: white;
  padding: 1px;
  background-color: black;
}
@media (max-width: 900px) {
  .second-part .intro {
    width: 400px;
    font-size: smaller;
  }
}
@media (max-width: 500px) {
  .second-part .intro {
    width: 300px;
  }
}
.second-part .learn-more {
  margin-left: 10%;
  width: 100px;
  padding: 10px;
  border: solid black 0.07cm;
  transition: 1s;
}
.second-part .learn-more:hover {
  background-color: black;
  transition: 1s;
  cursor: pointer;
}
.second-part .learn-more:hover h3 {
  color: white;
  font-weight: 600;
}
.second-part .horizontal {
  width: 100%;
  height: 10px;
  display: flex;
  margin: 0;
  margin-top: 20vh;
  flex-grow: 1;
}
.second-part .horizontal .box-sm {
  flex-grow: 1;
  transition: all 1s ease-in-out;
}
.second-part .horizontal .box-sm:hover {
  flex-grow: 12;
}
.second-part .horizontal .brown {
  background-color: bisque;
}
.second-part .horizontal .white {
  background-color: white;
}
.second-part .horizontal .black {
  background-color: black;
}
.second-part .horizontal .green {
  background-color: rgb(196, 248, 196);
}
.second-part .header {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.second-part .skill-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1% 1% 10px 1%;
}
.second-part .skill-list .Skills {
  cursor: pointer;
  width: 100px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: white;
  padding: 20px;
  background-color: black;
  transition: 1s;
  font-weight: 800;
}
.second-part .skill-list .Skills:hover {
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  background-color: bisque;
  color: black;
}
@media (max-width: 600px) {
  .second-part .skill-list .Skills {
    width: 50px;
    font-size: 5px;
    padding: 10px;
  }
}
.second-part .skill-list .clicked {
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  background-color: bisque;
  color: black;
}
.second-part .content {
  margin: 20vh auto 1vh auto;
  transition: 0.1s ease-in-out;
  text-align: center;
  width: 800px;
  height: 50vh;
  letter-spacing: 0.1pc;
}
.second-part .content hr {
  margin-top: 0.5cm;
}
@media (max-width: 900px) {
  .second-part .content {
    width: 400px;
    font-size: smaller;
  }
}
.second-part .border {
  background-color: burlywood;
  height: 5px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}
.second-part .proje {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.second-part .projects {
  display: flex;
  justify-content: center;
  margin-bottom: 20vh;
  flex-wrap: wrap;
}
.second-part .projects .one {
  height: 400px;
  letter-spacing: 0.005cm;
  margin: 0.5cm;
  padding: 20px;
  border: solid 1px green;
  width: 200px;
  text-align: center;
  transition: 1s;
}
.second-part .projects .one .links {
  margin: 30% auto 50% auto;
}
.second-part .projects .one .links p {
  transition: 1s;
  margin: 20px;
  background-color: white;
  color: black;
  border: solid;
  padding: 7px;
}
.second-part .projects .one .links p:hover {
  transform: translateY(-4px);
  box-shadow: -4px 8px 5px 0px rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 10px;
}
.second-part .projects .one .more-info {
  margin-top: 40px;
}
.second-part .projects .one h4 {
  font-size: larger;
  padding-bottom: 20px;
}
.second-part .projects .one p {
  padding-top: 5px;
}
.second-part .projects .one:hover {
  background-color: black;
  color: white;
  transition: 1s;
}
.second-part .projects .one:hover a {
  color: white;
}
.second-part .projects .one .link {
  transform: translateY(20px);
}
.second-part .grades-header {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.second-part .grades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  width: 50%;
  margin: 20px auto 0 auto;
}
.second-part .grades .course {
  margin: 10px;
  transition: 1s;
  padding: 10px;
  height: 40px;
  border: solid 1px black;
}
.second-part .grades .course:hover {
  transition: 1s;
  background-color: black;
}
.second-part .grades .course:hover > .grade {
  visibility: visible;
  color: white;
}
.second-part .grades .grade {
  transform: translateY(-100%);
  visibility: hidden;
}
@media (max-width: 700px) {
  .second-part .grades {
    width: 100%;
    margin: 20px;
    font-size: x-small;
  }
  .second-part .grades .course {
    width: 100px;
  }
}
.second-part .GPA-header {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.second-part .GPA-header hr {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  background-color: black;
  height: 0.1cm;
}
@media (max-width: 800px) {
  .second-part .GPA-header {
    font-size: 20px;
  }
  .second-part .GPA-header hr {
    height: 0.01cm;
  }
}
.second-part .GPA {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
  width: 100%;
}
@media (max-width: 800px) {
  .second-part .GPA {
    font-size: xx-small;
  }
}
.second-part .GPA .year {
  border-radius: 20px;
  transition: 1s;
  text-align: center;
  padding: 5px 20px;
}
.second-part .GPA .year:hover {
  transition: 1s;
  background-color: black;
  color: white;
}
.second-part .contact-header {
  margin: 20vh auto 10px 10%;
}
.second-part .contact-header hr {
  width: 75%;
  height: 5px;
  border: solid burlywood 1px;
  background-color: burlywood;
}
.second-part .contact-header .text {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
}
@-webkit-keyframes fadingIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadingIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadingOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadingOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.second-part .contacts {
  width: 75%;
  margin: 40px 0 0 10%;
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.second-part .contacts .contact {
  height: 40px;
  width: 200px;
  padding: 10px 20px;
  font-size: 25px;
  transition: 1s;
  margin: 20px;
}
.second-part .contacts .contact:hover {
  transform: translateX(20px);
}
.second-part .contacts .contact:hover > .icon {
  transform: translate(180px, -120%);
  visibility: visible;
  transition: 1s;
  -webkit-animation: fadingIn 0.6s;
          animation: fadingIn 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.second-part .contacts .icon {
  transform: translateY(-120%);
  visibility: hidden;
  font-weight: 800;
  transition: 1s;
  -webkit-animation: fadingOut 1s;
          animation: fadingOut 1s;
}
.second-part .contacts .linkedin {
  color: white;
  background-color: rgb(0, 119, 181);
}
.second-part .contacts .email {
  background-color: rgb(212, 70, 56);
  color: rgb(238, 238, 238);
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background: rgb(87, 241, 87);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: color-burn;
  pointer-events: none;
}/*# sourceMappingURL=design.css.map */